@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ehniih {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  position: relative;
}
.ehniih img {
  width: 100%;
  border: 1px solid rgb(236, 236, 236);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.ehniih .frame {
  position: absolute;
  top: 160px;
  left: 100px;
  width: 250px;
  height: 300px;
  border: 12px solid white;
  box-shadow: 3px 4px 6px 0px rgba(104, 98, 98, 0.75);
}
.ehniih .frame img {
  width: 100%;
  height: 100%;
  border-radius: 0;
  object-fit: cover;
}
.ehniih .urilgatxt {
  position: absolute;
  top: 470px;
  left: 120px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.ehniih .ner {
  position: absolute;
  top: 485px;
  left: 170px;
  font-family: "Pacifico", cursive;
  font-style: italic;
  color: brown;
}
.ehniih .birthner {
  position: absolute;
  top: 540px;
  left: 110px;
  font-family: "Varela Round", sans-serif;
  color: rgb(73, 73, 73);
}
.ehniih .song {
  position: absolute;
  top: 585px;
  left: 45px;
  text-align: center;
  background-color: blue;
  color: white;
  padding: 6px;
  border-radius: 5px;
}
@media (max-width: 425px) {
  .ehniih .frame {
    top: 100px;
    left: 100px;
  }
  .ehniih .urilgatxt {
    top: 410px;
    left: 120px;
  }
  .ehniih .ner {
    top: 420px;
    left: 170px;
  }
  .ehniih .birthner {
    top: 470px;
    left: 110px;
  }
  .ehniih .song {
    top: 515px;
    left: 45px;
  }
}
@media (max-width: 410px) {
  .ehniih .frame {
    top: 70px;
    left: 70px;
  }
  .ehniih .urilgatxt {
    top: 380px;
    left: 90px;
  }
  .ehniih .ner {
    top: 390px;
    left: 140px;
  }
  .ehniih .birthner {
    top: 440px;
    left: 90px;
  }
  .ehniih .song {
    top: 485px;
    left: 35px;
  }
}
@media (max-width: 382px) {
    .ehniih .frame {
      top: 60px;
      left: 60px;
    }
    .ehniih .urilgatxt {
      top: 370px;
      left: 80px;
    }
    .ehniih .ner {
      top: 380px;
      left: 130px;
    }
    .ehniih .birthner {
      top: 430px;
      left: 80px;
    }
    .ehniih .song {
      top: 475px;
      left: 25px;
    }
  }
  @media (max-width: 375px) {
    .ehniih .song {
      top: 475px;
      left: 45px;
      padding: 3px;
      font-size: 14px;
    }
  }